%flex-center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  @extend %flex-center-col;
  min-height: 100vh;
  padding: 0 0.5rem;
  height: 100vh;
}

.main {
  @extend %flex-center-col;
  padding: 5rem 0;
  flex: 1;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.subtitle {
  margin-top: 1.1rem;
  line-height: 1.15;
  font-size: 2rem;
  text-align: center;
}