@import url('https://fonts.googleapis.com/css?family=Bebas+Neue');

%link-style {
    box-sizing: border-box;
    margin-right: 3rem;
    font-family: 'Bebas Neue';
    font-size: 1.8rem;
}

%inactive-link {
    cursor: none;
    text-decoration: underline;
    text-decoration-color: hsl(212, 97%, 59%);
}

%responsive-link {
    margin: 0;
    padding: 0;
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;
}

.navlink {
    @extend %link-style;
}

.inactiveLink {
    @extend %link-style;
    @extend %inactive-link;
}

.inactiveLink:hover, .inactiveLinkResponsive:hover {
    text-decoration: line-through;
    text-decoration-color: hsl(0, 97%, 59%);
}

.navlinkResponsive {
    @extend %link-style;
    @extend %responsive-link;
    font-size: 2.5rem;
}

.inactiveLinkResponsive {
    @extend %link-style;
    @extend %inactive-link;
    @extend %responsive-link;
    font-size: 2.5rem;
}

@media only screen and (max-width: 768px) {
    .inactiveLinkResponsive {
        text-decoration-color: hsl(32, 97%, 59%);
    }
}